body {
  padding: 0;
  margin: 0;
}
.container {
  display: grid;
  gap: 2px;
  /* max-height: 100%; */
  /* width: 100px; */
  grid-template-rows: repeat(4 100px);
  grid-template-columns: repeat(3 1fr);
  font-size: 1rem;
  padding: 10px;
  height: 400px;
  color: white;
  text-align: center;
}
.box-1 {
  background-color: aqua;
  grid-row: 1;
  grid-column: span 3;
}
.box-2 {
  background-color: red;
  grid-row: 2/4;
  grid-column: 1/3;
  z-index: 1;
  /* width: 200px;
  height: 200px; */
}

/* .box-2 {
  grid-area: 2/1/4/3;
  background-color: red;
  z-index: 1;
} */
.box-3 {
  background-color: rgb(78, 20, 171);
  grid-row: 2;
  grid-column: 3;
}
.box-4 {
  background-color: yellow;
  grid-row: 3;
  grid-column: 3;
}
.box-5 {
  background-color: rgb(131, 17, 123);
  grid-row: 4;
  grid-column: 1;
}
.box-6 {
  background-color: rgb(97, 207, 67);
  grid-row: 4;
  grid-column: 2;
}
.box-7 {
  background-color: rgb(193, 116, 49);
  grid-row: 4;
  grid-column: 3;
}
.box-8 {
  background-color: rgb(14, 132, 108);
  grid-row: 5;
  grid-column: 1;
}
.box-9 {
  background-color: brown;
  grid-row: 5;
  grid-column: 2;
}
