body {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  font-size: 2rem;
  padding: 10px;
  height: 100px;
  color: white;
  text-align: center;
  /* border: 1px solid red; */

  gap: 10px;
}
.deco {
  background-color: yellow;
  place-content: center;
}
.box_1 {
  grid-row: 1/13;
  /* grid-column: 1; */
}

.box_2 {
  grid-row: 1/7;
  /* grid-column: 2; */
}
.box_3 {
  grid-row: 7/13;
  /* grid-column: 2; */
}
.box_4 {
  grid-row: 1/5;
  /* grid-column: 3; */
}
.box_5 {
  grid-row: 5/9;
  /* grid-column: 3; */
}

.box_6 {
  grid-row: 9/13;
  /* grid-column: 3; */
}
.box_7 {
  grid-row: 1/4;
  /* grid-column: 4; */
}
.box_8 {
  grid-row: 4/7;
  /* grid-column: 4; */
}
.box_9 {
  grid-row: 7/10;
  /* grid-column: 4; */
}
.box_10 {
  grid-row: 10/13;
  /* grid-column: 4; */
}
.box_11 {
  grid-row: 1/3;
  /* grid-column: 5; */
}
.box_12 {
  grid-row: 3/5;
  /* grid-column: 5; */
}
.box_13 {
  grid-row: 5/7;
  /* grid-column: 5; */
}

.box_14 {
  grid-row: 7/9;
  /* grid-column: 5; */
}
.box_15 {
  grid-row: 9/11;
  /* grid-column: 5; */
}
.box_16 {
  grid-row: 11/13;
  /* grid-column: 5; */
}
