body {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  font-size: 2rem;
  padding: 10px;
  height: 100px;
  color: white;
  text-align: center;
  /* border: 1px solid red; */

  gap: 10px;
}
.box_1 {
  grid-row: 1/13;
  grid-column: 1;
  background-color: yellow;
}

.box_2 {
  grid-row: 1/7;
  grid-column: 2;
  background-color: yellow;
}
.box_3 {
  grid-row: 7/13;
  grid-column: 2;
  background-color: yellow;
}
.box_4 {
  grid-row: 1/5;
  grid-column: 3;
  background-color: yellow;
}
.box_5 {
  grid-row: 5/9;
  grid-column: 3;
  background-color: yellow;
}

.box_6 {
  grid-row: 9/13;
  grid-column: 3;
  background-color: yellow;
}
.box_7 {
  grid-row: 1/4;
  grid-column: 4;
  background-color: yellow;
}
.box_8 {
  grid-row: 4/7;
  grid-column: 4;
  background-color: yellow;
}
.box_9 {
  grid-row: 7/10;
  grid-column: 4;
  background-color: yellow;
}
.box_10 {
  grid-row: 10/13;
  grid-column: 4;
  background-color: yellow;
}
.box_11 {
  grid-row: 1/3;
  grid-column: 5;
  background-color: yellow;
}
.box_12 {
  grid-row: 3/5;
  grid-column: 5;
  background-color: yellow;
}
.box_13 {
  grid-row: 5/7;
  grid-column: 5;
  background-color: yellow;
}

.box_14 {
  grid-row: 7/9;
  grid-column: 5;
  background-color: yellow;
}
.box_15 {
  grid-row: 9/11;
  grid-column: 5;
  background-color: yellow;
}
.box_16 {
  grid-row: 11/13;
  grid-column: 5;
  background-color: yellow;
}

.box_17 {
  grid-row: 1;
  grid-column: 6;
  background-color: yellow;
}
.box_18 {
  grid-row: 2;
  grid-column: 6;
  background-color: yellow;
}
.box_19 {
  grid-row: 3;
  grid-column: 6;
  background-color: yellow;
}
.box_20 {
  grid-row: 4;
  grid-column: 6;
  background-color: yellow;
}
.box_21 {
  grid-row: 5;
  grid-column: 6;
  background-color: yellow;
}
.box_22 {
  grid-row: 6;
  grid-column: 6;
  background-color: yellow;
}
.box_23 {
  grid-row: 7;
  grid-column: 6;
  background-color: yellow;
}
.box_24 {
  grid-row: 8;
  grid-column: 6;
  background-color: yellow;
}
.box_25 {
  grid-row: 9;
  grid-column: 6;
  background-color: yellow;
}
.box_26 {
  grid-row: 10;
  grid-column: 6;
  background-color: yellow;
}
.box_27 {
  grid-row: 11;
  grid-column: 6;
  background-color: yellow;
}
.box_28 {
  grid-row: 12;
  grid-column: 6;
  background-color: yellow;
}
