body {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  /* justify-content: baseline; */
  /* align-content: space-between; */
  grid-template-rows: repeat(11 400px);
  grid-template-columns: repeat(2 2fr);
  /* font-size: 1rem; */
  height: 50px;
  gap: 10px;
  color: rgb(24, 24, 24);
  text-align: center;
}
.deco {
  background-color: yellow;
  place-content: center;
}

.box-1 {
  /* grid-row: 1; */
  grid-column: 1/3;
}
.box-2 {
  /* grid-row: 1; */
  grid-column: 3/23;
}
.box-3 {
  /* grid-row: 2; */
  grid-column: 1/4;
}
.box-4 {
  /* grid-row: 2; */
  grid-column: 4/23;
}
.box-5 {
  /* grid-row: 3; */
  grid-column: 1/6;
}
.box-6 {
  /* grid-row: 3; */
  grid-column: 6/23;
}
.box-7 {
  /* grid-row: 4; */
  grid-column: 1/8;
}
.box-8 {
  /* grid-row: 4; */
  grid-column: 8/23;
}
.box-9 {
  /* grid-row: 5; */
  grid-column: 1/10;
}
.box-10 {
  /* grid-row: 5; */
  grid-column: 10/23;
}
.box-11 {
  /* grid-row: 6; */
  grid-column: 1/12;
}
.box-12 {
  /* grid-row: 6; */
  grid-column: 12/23;
}
.box-13 {
  /* grid-row: 7; */
  grid-column: 1/14;
}
.box-14 {
  /* grid-row: 7; */
  grid-column: 14/23;
}
.box-15 {
  /* grid-row: 8; */
  grid-column: 1/16;
}
.box-16 {
  /* grid-row: 8; */
  grid-column: 16/23;
}
.box-17 {
  /* grid-row: 9; */
  grid-column: 1/18;
}
.box-18 {
  /* grid-row: 9; */
  grid-column: 18/23;
}
.box-19 {
  /* grid-row: 10; */
  grid-column: 1/20;
}
.box-20 {
  /* grid-row: 10; */
  grid-column: 20/23;
}
.box-21 {
  /* grid-row: 11; */
  grid-column: 1/21;
}
.box-22 {
  /* grid-row: 11; */
  grid-column: 21/23;
}
