.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-size: 2rem;
  justify-content: center;
  max-width: 100vw;
  height: 100vh;
  align-content: center;
  /* justify-content: center;
  align-items: center; */
}
.box_lightblue {
  grid-column: 1;
  grid-row: 1;
  background-color: cornflowerblue;
  padding-top: 100px;
  color: #fff;
  text-align: center;
}
.box_red {
  grid-row: 1;
  grid-column: 2;
  background-color: red;
  color: #fff;
  padding-top: 100px;
  text-align: center;
}
.box_blue {
  grid-row: 1;
  grid-column: 3;
  background-color: blue;
  color: #fff;
  padding-top: 100px;
  text-align: center;
}
.box_yelow {
  grid-row: 2;
  grid-column: 1;
  background-color: yellow;
  color: #fff;
  padding-top: 100px;
  text-align: center;
}
.box_violet {
  grid-row: 2;
  grid-column: 2;
  background-color: violet;
  color: #fff;
  padding-top: 100px;
  text-align: center;
}
.box_gren {
  grid-row: 2;
  grid-column: 3;
  background-color: green;
  color: #fff;
  padding-top: 100px;
  text-align: center;
}
.box_orange {
  grid-row: 3;
  grid-column: 1;
  background-color: orange;
  color: #fff;
  padding-top: 100px;
  text-align: center;
}
.box_bege {
  grid-row: 3;
  grid-column: 2;
  background-color: turquoise;
  color: #fff;
  padding-top: 100px;
  text-align: center;
}
.box_brown {
  grid-row: 3;
  grid-column: 3;
  background-color: brown;
  color: #fff;
  padding-top: 100px;
  text-align: center;
}
